<p>
  <strong>Commenter:</strong>
  <%= reply.commenter %>
</p>

<p>
  <strong>Reply:</strong>
  <%= reply.body %>
</p>

<p>
  <%= link_to 'Delete Comment', [reply.email, reply], method: :delete, data: { confirm: 'Are you sure?'} %>
</p>