<!--

Input container with checkboxes based on their inputs

Onclick for each of those either show / hide individual container

in the background scrape zendesk analytics

preview button: shows separate container below with email preview

if they like what they see, send it out from there

dropdown of current open issues (like, newest 8 maybe?)
-->

<!--<h3>Create new Email</h3>-->

<!--<div class="row">-->
<!--  <div class="col-sm-8">-->
<!--    <form class ="srm">-->
<!--      <input type = "checkbox" name="notice" onclick="showContainer(name)"> Add Notice-->
<!--      <input type = "checkbox" name="ongoing" onclick=""> Add Ongoing Issues-->
<!--      <input type = "checkbox" name="fixed" onclick=""> Add Fixed/Closed Issues-->
<!--      <input type = "checkbox" name="gif" onclick=""> Add GIF-->
<!--      <br>-->
<!--      <input type = "button" name="preview" value="Preview Email" onclick="">-->
<!--      <br><br>-->
<!--      <input type="submit" value="Send Email">-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->

<!--  <p>-->
<%#https://apidock.com/rails/ActionView/Helpers/FormHelper/check_box%>
<!--    <%#=form.check_box :notice%> Add Notice-->
<!--    <%#=form.check_box :open%> Add Open Issues-->
<!--    <%#=form.check_box :closed%> Add Closed Issues-->
<!--    <%#=form.check_box :gif%> Add GIF-->
<!--  </p>-->

<h2>new email yo</h2>

<%= render 'form' %>

<br>

<%= link_to 'Go Back', emails_path %>